@page "/"

<h1>Home</h1>

<p>
    VDT.Core.Blazor.GlobalEventHandler is a Blazor component that allows you to handle global window level events in your application. It uses Blazor 
    javascript interop to respond to javascript event listeners added to the <code>window</code> object.
</p>

<h2>Handling events</h2>

<p>
    Handling events is done with the default Blazor <code>EventCallback</code> struct, so that events can be handled either synchronously or asynchronously,
    and allows you to omit the event argument parameter if you have no need for it. For more information regarding Blazor event handling see the official
    <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/event-handling">Microsoft documentation on Blazor event handling</a>.
</p>
