@page "/TouchEvents"

<GlobalEventHandler OnTouchStart="OnTouchStart" OnTouchEnd="OnTouchEnd" OnTouchCancel="OnTouchCancel" OnTouchMove="OnTouchMove" />

<h1>Touch events</h1>

<p>
    This component includes event handlers for touch start, touch end, touch cancel and touch move. Touch the screen for a demonstration.
</p>

<h2><code>OnTouchStart</code> event</h2>

<p>
    The <code>OnTouchStart</code> event occurs when one or more touch points are placed on the touch surface.
</p>

<EventDisplay EventArgs="touchStartEventArgs" />

<h2><code>OnTouchEnd</code> event</h2>

<p>
    The <code>OnTouchEnd</code> event occurs when one or more touch points are removed from the touch surface.
</p>

<EventDisplay EventArgs="touchEndEventArgs" />

<h2><code>OnTouchCancel</code> event</h2>

<p>
    The <code>OnTouchCancel</code> event occurs when one or more touch points have been disrupted in an implementation-specific manner.
</p>

<EventDisplay EventArgs="touchCancelEventArgs" />

<h2><code>OnTouchMove</code> event</h2>

<p>
    The <code>OnTouchMove</code> event occurs when one or more touch points are moved along the touch surface.
</p>

<EventDisplay EventArgs="touchMoveEventArgs" />

@code {
    private TouchEventArgs? touchStartEventArgs;
    private TouchEventArgs? touchEndEventArgs;
    private TouchEventArgs? touchCancelEventArgs;
    private TouchEventArgs? touchMoveEventArgs;

    public void OnTouchStart(TouchEventArgs args) {
        touchStartEventArgs = args;
    }

    public void OnTouchEnd(TouchEventArgs args) {
        touchEndEventArgs = args;
    }

    public void OnTouchCancel(TouchEventArgs args) {
        touchCancelEventArgs = args;
    }

    public void OnTouchMove(TouchEventArgs args) {
        touchMoveEventArgs = args;
    }
}