<CascadingValue Value="this">
    <div>
        <div>
            @TitleContent
        </div>

        <div>
            <button @onclick="TryCompleteStep">@(IsLastStep ? ButtonFinishText : ButtonNextText)</button>
        </div>

        <div>
            @Steps
        </div>
    </div>
</CascadingValue>
