<CascadingValue Value="this">
    @if (IsActive) {
        <div>
            <div>
                @TitleContent
            </div>

            <div>
                @foreach (var step in stepsInternal) {
                    <div>@step.Title</div>
                }
            </div>

            <div>
                @if (ShowCancelButton) {
                    <button @onclick="Stop">@ButtonCancelText</button>
                }

                <button @onclick="TryCompleteStep">@(IsLastStep ? ButtonFinishText : ButtonNextText)</button>
            </div>

            <div>
                @Steps
            </div>
        </div>
    }
</CascadingValue>
