@page "/api"

@inject HttpClient HttpClient 

<h1>VDT.Core.Demo.Client - API</h1>

<p>A test for connecting to the server API.</p>

<button class="btn btn-primary" @onclick="CallApi">Call API</button>

@if (result != null) {
    <p>Server said: @result</p>
}

@code {
    private string? result;

    private async Task CallApi() {
        var response = await HttpClient.GetAsync("/api/Demo/Execute");

        result = await response.Content.ReadAsStringAsync();
    }
}
