@page "/demowizard"

<h1>VDT.Core.Demo.Client - Wizard</h1>

<div>
    <button @onclick="() => Wizard?.Start()" class="btn btn-primary">Start wizard</button>
    <button @onclick="() => Wizard?.Stop()" class="btn btn-primary">Stop wizard</button>
</div>

<Wizard @ref="Wizard">
    <TitleContent>
        <h3>Wizard title</h3>
    </TitleContent>
    <Steps>
        <WizardStep>
            Test step 1
        </WizardStep>
        <WizardStep OnInitializeStep="InitializeStep" OnTryCompleteStep="TryCompleteStep">
            <div class="form-check">
                <input id="goNext" type="checkbox" @bind="GoNext" class="form-check-input" />
                <label for="goNext" class="form-check-label">Go next?</label>
            </div>
            <div>
                Test step 2
            </div>
        </WizardStep>
        <WizardStep>
            Test step 3
        </WizardStep>
    </Steps>
</Wizard>

<pre>
    @StepData
</pre>

@code {
    public Wizard? Wizard { get; set; }

    public bool GoNext { get; set; } = true;
    public string StepData = string.Empty;

    public void InitializeStep(InitializeStepEventArgs args) {
        StepData += nameof(InitializeStep) + Environment.NewLine;
    }

    public void TryCompleteStep(TryCompleteStepEventArgs args) {
        StepData += nameof(TryCompleteStep) + Environment.NewLine;

        args.IsCancelled = !GoNext;
    }

}