@page "/demowizard"

<h1>VDT.Core.Demo.Client - Wizard</h1>

<div>
    <button @onclick="() => Wizard?.Start()" class="btn btn-primary">Show wizard</button>
    <button class="btn btn-primary">Hide wizard</button>
</div>

<Wizard @ref="Wizard">
    <TitleContent>
        <h3>Wizard title</h3>
    </TitleContent>
    <Steps>
        <WizardStep>
            Test step 1
        </WizardStep>
        <WizardStep>
            Test step 2
        </WizardStep>
        <WizardStep>
            Test step 3
        </WizardStep>
    </Steps>
</Wizard>

@code {
    public Wizard? Wizard { get; set; }
}