@page "/demowizard"

<h1>VDT.Core.Demo.Client - Wizard</h1>

<Wizard>
    <Steps>
        <WizardStep>
            Test step 1
        </WizardStep>
        <WizardStep>
            Test step 2
        </WizardStep>
    </Steps>
</Wizard>